# .gitignore
# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
env/
.venv/
venv/
*.sqlite3
db.sqlite3
*.log

# Django media & static
media/
backend/api/static/build/
backend/staticfiles/

# Node
node_modules/
dist/
.env.local
.env.*.local

.env
