DJANGO_ENV=prod
DJANGO_SECRET_KEY=replace-with-a-long-random-secret-key
DJANGO_ALLOWED_HOSTS=boongrestaurant.cz,www.boongrestaurant.cz,46.225.15.13
DJANGO_CSRF_TRUSTED_ORIGINS=https://boongrestaurant.cz,https://www.boongrestaurant.cz
DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_SECURE_HSTS_SECONDS=31536000

DB_NAME=restaurant_db
DB_USER=restaurant_user
DB_PASSWORD=replace-with-production-db-password
DB_HOST=localhost
DB_PORT=5432
